<div class="input-append field">
    <%= f.text_field :passage, :class => 'span4 verse-to-search', :placeholder => 'e.g: Acts 1:8 or John 3:16-20' %>
    <button class="btn search-verse" type="button">Search!</button>
  </div>
  <div class="field">
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn version active">RVR60</button>
      <button type="button" class="btn version">KJVA</button>
      <button type="button" class="btn version">GNT</button>
      <button type="button" class="btn version">CEV</button>
    </div>
  </div>