<div class="span4 dashboard-add-new-note">
  <h4>Do you want to add a new note?</h4>
  <%= render 'notes/form' %>
</div>
<div class="span4 dashboard-my-notes">
  <div class="passage_holder"></div>
</div>