body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.dashboard-add-new-note {
	display: block;
	width:45%;
	float: left;
}

.dashboard-my-notes h4 {
	text-align: right;
}

.note-comment {
	height:200px;
}

.field input[type="checkbox"]{
	margin-top:10px;
}

.hidden {
	display:none;
}

.field {
	margin-top:20px;
}

.show-grid .block {
	background-color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}